<a href="https://colab.research.google.com/github/edvinhysenagolli/Data-Tasks/blob/main/DATA_EXERCISES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA, PANDAS, PLOTS ðŸ˜€

In [13]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM",
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")
pub_info = pd.read_csv(gd_path(files_id["pub_info"]), sep=";", encoding_errors = 'replace')
discounts = pd.read_csv(gd_path(files_id["discounts"]), sep=";")
jobs = pd.read_csv(gd_path(files_id["jobs"]), sep=";")

In [5]:
#From how many different states are our authors?
diff_states = authors["state"].unique()
len(diff_states)

#easier
len(authors["state"].unique())

qty    21.666667
dtype: float64

In [ ]:
#What's the average quantity of titles sold per sale by store 7131?
sales.loc[sales["stor_id"] == 7131, ["qty"]].mean()

In [ ]:
# When was the employee with the highest level hired?
employee[["hire_date", "job_lvl"]].sort_values(by="job_lvl", ascending = False).head(1)

In [ ]:
#What's the average price of psychology books?
titles.loc[titles["type"] == "psychology"]["price"].mean()

In [ ]:
#Which category of books has had more year-to-date sales, "business" or "popular_comp"? You can write two queries to answer this question.

bus = titles.loc[titles["type"]=="business", "ytd_sales"].sum()
pop = titles.loc[titles["type"]=="popular_comp", "ytd_sales"].sum()

if bus > pop:
    print("The business with", bus, "ytd sales")
else:
    print("pop's better")

In [ ]:
#What's the price of the most expensive title from each publisher?
titles.groupby('pub_id')['price'].max()

In [ ]:
#Find the average job level for each job_id from the employees table.
employee.groupby('job_id')['job_lvl'].mean().sort_values().round(2)

In [ ]:
#the average price of each publisher - book type combination
titles.groupby(['pub_id','type']).agg({'title_id':'count', 'price':'mean'}).round(2)

#formating 
# ex7.rename(columns={'price': 'Avg_Price'})    #    } inplace = True)

In [ ]:
#full name, job description and publisher name of all employees
e = employee
p = publishers
j = jobs

ex = e.merge(
    j,
    how='left',
    left_on='job_id',
    right_on='job_id',
).merge(
    p,
    how='left',
    left_on='pub_id',
    right_on='pub_id'
)

ex[['fname', 'lname', 'job_desc', 'pub_name']]

In [ ]:
#the average book price, per publisher, for the following book types and price categories

selected_books = titles.loc[titles['type'].isin(['business', 'trad_cook', 'psychology'])].copy()    #copy() method will not change the original df

selected_books

selected_books['price_category'] = 'high'

selected_books['price_category'] = 'high'
selected_books.loc[selected_books['price'] <= 15, 'price_category'] = 'medium'
selected_books.loc[selected_books['price'] <= 10, 'price_category'] = 'low'
selected_books.loc[selected_books['price'] <= 5, 'price_category'] = 'super low'

selected_books.groupby(by = ['pub_id', 'type', 'price_category']).aggregate({'price' : 'mean'}).round(2)

###DATA VISUALIZATION

In [ ]:
url = 'https://drive.google.com/file/d/18zYGrzRhn_mz1HJLXxSO_MwR0_nWBS3K/view?usp=sharing' # vehicles.csv
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
cars = pd.read_csv(path)

#Add a column that states if a car's transmission is automatic or manual:
cars["Auto"] = cars["Transmission"].str.contains("Automatic")
cars

In [ ]:
#how many cars have each type of Drivetrain? Highlight "All-Wheel Drive" 
drivetype = cars['Drivetrain'].value_counts()


colors = ['gray'] * len(drivetype)
colors[drivetype.index.get_loc('All-Wheel Drive')] = 'red' 

drivetype.plot(kind='bar', color=colors);

In [ ]:
#A plot that displays the evolution of the average CO2 emissions by cars over the years
co2 = cars.groupby('Year')['CO2 Emission Grams/Mile'].mean()
co2.plot.line();

In [ ]:
# checking the data 
cars[['Make','Drivetrain']].sample(5)
cars['Make'].unique()                        

#replacing the dash to space
cars['Drivetrain'].str.replace('-', ' ')
cars['Drivetrain'] = cars['Drivetrain'].str.replace('-', ' ')


#using replace method, arg: not small or capital or numbers, or non alphanumeric characters

cars['Make'].str.replace('[^a-zA-Z0-9]',' ')
cars['Make'] = cars['Make'].str.replace('[^a-zA-Z0-9]',' ')

cars.head()